{% extends 'base.html' %}

{% block style %}
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    searchajax();
});
</script>

<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
            }
        }
    }
    return cookieValue;
}

function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }
              $(document).ready(function() {
                var csrftoken = getCookie('csrftoken');
                $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                  }
                });
              });

function searchajax(){
    $("#searchword").keyup(function(){
        var words = $("#searchword").val();
        if( words != ''){
            $.ajax({
                type: 'POST',
                url: '/mysubs/add',
                data: { searchwords : words},
                dataType: 'json',
                success: function(result){
                    if ( result.length > 0){
                        var str = ''
                        for (var i=0; i<result.length; i++){
                            str += '<span>'+ result[i].result + '</span><br/>';
                        }
                        //html의 result필드에 넣어주는 작업
                        $("#results").html(str);
                    } else{ $("#results").html(""); }
                },
                error: function(e) {console.log('error:' + e.status);}
            });
        } else{ $("#results").html(""); }
    });
}                                                                   

</script>
{% endblock %}

{% block content%}
<center>
    <div id="search" class="tab_content">
        <form action="" method = 'post'>
            {% csrf_token %} 
            <input type="text" id="searchword" style="width:300px;"/>
        </form>
    </div>

    <div id="results"></div> 
</center>

{% endblock %}
