<!DOCTYPE html> 

<head>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    searchajax();
});
</script>

<script type="text/javascript">
function searchajax(){
    $("#searchword").keyup(function(){
        var words = $("#searchword").val();
        if( words != ''){
            $.ajax({
                type: 'POST',
                url: '/test',
                data: { searchwords : words},
                dataType: 'json',
                success: function(result){
                    if ( result.length > 0){
                        var str = ''
                        for (var i=0; i<result.length; i++){
                            str += '<span>'+ result[i].result + '</span><br/>';
                        }
                        //html의 result필드에 넣어주는 작업
                        $("#results").html(str);
                    } else{ $("#results").html(""); }
                },
                error: function(e) {console.log('error:' + e.status);}
            });
        } else{ $("#results").html(""); }
    });
}                                                                   

</script>
</head>

<div id="search" class="tab_content">
<form action="" method = 'post'>
    {% csrf_token %} 
    <input type="text" id="searchword" style="width:300px;"/>
</form>
    
</div>
<div id="results"></div> 
</body>
</html>
