* {
    margin: 0px;
    padding: 0px;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    border: none;
  }

  .slider {
    display: inline-block;
    width: 302px;
    height: 715px;
    margin: 0 auto;
    margin-left: 30px;
    background-color: aqua;
    position: absolute;
    overflow: hidden;
    border-radius: 25px;

    top : 140px;
    left : 50px;
  }

  .slider2 {
    display: inline-block;
    width: 230px;
    height: 550px;
    margin: 0 auto;
    margin-left: 50px;
    background-color: aqua;
    position: absolute;
    overflow: hidden;
    border-radius: 25px;

    top : 140px;
    left : 310px;
  }

  .slider .panel {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .slider .panel :hover {
    -webkit-transition : opacity 0.5s;
    opacity:0.95;
  }

  .slider .panel li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 30px;
    display: none;
  }

  .panel li:nth-child(1) {
    background-color: none;
    display: block;
  }

  .panel li:nth-child(2) {
    background-color: blue;
  }

  .panel li:nth-child(3) {
    background-color: green;
  }

  .panel li:nth-child(4) {
    background-color: yellow;
  }

  .btn {
    position: absolute;
    bottom: 30px;
    margin-left: 18px;
  }

  .btn li {
    display:inline-block;

    width: 7px;
    height: 7px;
    float:left;
    background-color: white;
    opacity:0.8;
    border-radius: 50%;
    text-indent: -9999px;
    margin-right: 6px;
    cursor: pointer;
  }
  .btn .on {
    background-color: white;

    width:10px;
    height:10px;
  }

  .btn li:hover {
    background-color: #000;
    opacity: 0.3;
  }

  .btn li:last-child {
    margin-right: 0px;
  }

  .prev {
    position: absolute;
    left: 30px;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background-color: transparent !important;
   background-image: none !important;
   border-color: transparent;
   border: none;

   color: #FFFFFF;
  }

  .next {
    position: absolute;
    right: 30px;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background-color: transparent !important;
   background-image: none !important;
   border-color: transparent;
   border: none;

   color: #FFFFFF;
  }

  .btn2 {
    position: absolute;
    bottom: 30px;
    float:right;
    margin-right: 18px;

  }

  .btn2 li {
    display:inline-block;

    width: 7px;
    height: 7px;
    float:right;
    background-color: white;
    opacity:0.8;
    margin-right: 6px;
    cursor: pointer;
  }
