a{
   text-decoration:none;
   color:#000000;
 }

nav{
}
nav ul{
  padding-top:10px;
}
nav ul li {
  display: inline;
   font: 16px Dotum;
   font-family: 'Nanum Gothic', sans-serif;
   color: #F2F2F2;
   padding:0 30px;
 }


 nav ul li a{
     table-layout: fixed;
 }
 nav ul li a:hover{
    -webkit-transition: color 0.2s;
   color:#FFBF00;
   text-decoration:none;
 }
nav ul la a img{
 width:30px;
 height:auto;
 padding-top:20px;
}
nav ul la{

 font: 28px Dotum;
 padding:0 25px;
 font-family: 'Alfa Slab One', sans-serif;
 margin-right: 40px;
 margin-top:10px;
}

nav ul la a:hover{
  -webkit-transition:color 0.2s;
  color:#585858;
  text-decoration:none;
}

body {
  background-color : #F2F2F2;
}

div .banner{

}

.profile a:hover\
]]\{
  text-decoration: none;\
}
